extends layout

block content
  for book in books
    div.bookContainer
      img(src=book.img_url)
      div.bookInfo
        a(href="/books/" + book.id)
          h3= book.title
        if(book.author3)
          p By #{book.author}, #{book.author2}, and #{book.author3}
        else if(book.author2)
          p By #{book.author} and #{book.author2} 
        else 
          p By #{book.author}
        small #{book.genre}
        p #{book.desc}
    
  a(href="/books/new") New Book
  br
  a(href="/authors") Authors 
